---
import type { Playlist } from "../lib/data";
import PlayButton from "./PlayButton.astro";
interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
---

<a
  href={`/playlist/${playlist.id}`}
  class="playlist-item flex group relative transition-all duration-300 overflow-hidden items-center gap-5 rounded-md shadow-lg hover:shadow-xl outline-none bg-zinc-500/30 hover:bg-zinc-500/50 focus:bg-zinc-500/50"
  data-color={playlist.color.dark}
  transition:name=`playlist ${playlist.id} box`
>
  <div class="h-20 w-20">
    <img
      src={playlist.cover}
      alt={playlist.title}
      class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
      transition:name=`playlist ${playlist.id} image`
    />
  </div>
  <div class="font-bold block" transition:name=`playlist ${playlist.id} title`>
    {playlist.title}
  </div>
  <div
    class={"absolute right-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300"}
    transition:name=`playlist ${playlist.id} play`
  >
    <PlayButton />
  </div>
</a>
